# Ignore heavy audio data and truth files
*.wav
*.flac
*.mp3
*.parquet

# Ignore heavy neural network checkpoints
epoch_*.pt

# Ignore messy temporary outputs
results/

# Ignore Python cache files
__pycache__/
*.pyc

tempCodeRunnerFile.*
*.tar.gz
scripts/*.dic

mlruns/
scripts/*.db